{% load i18n %}
{% autoescape off %}
{% blocktranslate %}شما این ایمیل را دریافت کرده‌اید زیرا درخواست بازیابی رمز عبور در سایت {{ site_name }} ارسال شده است.{% endblocktranslate %}

{% translate "برای تغییر رمز عبور، روی لینک زیر کلیک کنید:" %}
{{ protocol }}://{{ domain }}{% url 'supplementapp:password_reset_confirm' uidb64=uid token=token %}


{% translate "اگر شما این درخواست را ارسال نکرده‌اید، این ایمیل را نادیده بگیرید." %}

{% translate "با تشکر از شما!" %}
{{ site_name }} تیم
{% endautoescape %}
