<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Supplement Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link fw-bold" href="{% url "Supplementapp:home" %}">خانه</a></li>
                <li class="nav-item"><a class="nav-link fw-bold" href="{% url "Supplementapp:product" %}">محصولات</a></li>
                <li class="nav-item"><a class="nav-link fw-bold" href="{% url "Supplementapp:aboutus" %}">درباره ما</a></li>
                <li class="nav-item"><a class="nav-link fw-bold" href="{% url "Supplementapp:contactus" %}">ارتباط با ما</a></li>
            </ul>
        </div>
    </div>
</nav>